body{
    background-image: url(teste.jpg); 
}
.conta{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    backdrop-filter: blur(20px);
    color: white;
}

.conta input{
    border-radius: 5px;
    border: 1px solid rgb(124, 124, 124);
    text-align: center;
}

button:hover{
    background-color: rgb(0, 115, 255);
    box-shadow: 0px 0px 0px 1px;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}

.conta button{
    margin-top: 15px;
    font-size: 28px;
    background-color: rgb(132, 185, 251);
    color: white;
    border-radius: 5px;

}

.conta p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.teste{
    display: flex;
    align-items: center;
    justify-content: center;
}

#resultado{
    margin-top: 10px;
    font-size: 18px;
    border-bottom: 1px solid red;
}


/* 2 Caixa */
.caixa2{
    display: flex;
    align-items: center;
    justify-content: center;


}

.main{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    backdrop-filter: blur(20px);
    color: white;
}

.main input{
    border-radius: 5px;
    border: 1px solid rgb(124, 124, 124);
    text-align: center;
}

.main button{
    margin-top: 15px;
    font-size: 28px;
    background-color: rgb(252, 163, 67);
    color: white;
    border-radius: 5px;
}
.main p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.teste2{
    display: flex;
    margin: 10px;
}

#resultadoDividir{
    margin-top: 10px;
    font-size: 18px;
    border-bottom: 1px solid red;
}
